{% if breadcrumbs is not empty %}
<ol class="breadcrumb">
  {% for item in breadcrumbs %}
          <li{% if item.active %} class="active"{% endif %}>
                {% if item.uri and not item.active %}<a href="{{item.uri}}">{% endif %}
                    {% if item.first %}<i class="fa fa-home"></i> {% endif %} <!-- TODO : Change first to Twig function? -->
                    {{item.title}}
                {% if item.uri and not item.active %}</a>{% endif %}
          </li>
  {% endfor %}
  {% if breadcrumbs|length < 2 %}
    <li class="active">{{ page_title | raw }}</li>
  {% endif  %}
</ol>
{% else %}
<ol class="breadcrumb">
    <li><a href="{{site.uri.public}}"><i class="fa fa-home"></i> {{site.title}}</a></li>
    <li class="active">{{ page_title | raw }}</li>
</ol>
{% endif %}
